.ce-delimiter {
    line-height: 2em;
    width: 100%;
    text-align: center;
    
   
}
.ce-delimiter {
    display: block;
    padding: 6px 0;

}

 hr {
    height: 1pt;
    background-color: #DCDFE6;
    border: none; 
}
